<!DOCTYPE html>
<html>
    <head>
        <title>Expense Tracker</title>
        <link rel="icon" href="data:;base64,=">
        <link rel="stylesheet" href=".static/css/index.css">
    </head>
    <body>
        <div class="nav-div">
          <button id="leaderboard" class="leaderboard">Leaderboard</button>
          <div class="logout-div">
            <button id="membership" type="button">Buy Premium Membership</button>
            <button id="logout" type="button">Log-Out</button>
          </div>
        </div>

        <div class="header"><h1>Your Expenses !</h1></div>
    <div id="form-div" class="form-div">
        <form>
          <button class="is-editing" style="display:none;">Edit-Mode X</button>
          <label for=""><h2 style="font-weight:900;">Enter Expenses :</h2></label>
          <small id="msg" class="small-text" style="margin:20px;color:red;font-size:18px;"></small>
            <div class="form-group">
                <label for="exampleInputPassword1">Amount</label>
              <input type="number" name="amout" id="amount" placeholder="Set Amount...">
              <small class="small-text">What are your Expenses? :)</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Description</label>
              <input type="text" name="description" id="description" placeholder="This expense is for...">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Category</label>
                <select class="dropdown" name="category" id="category">
                    <option value="Fuel">Fuel</option>
                    <option value="Movies">Movies</option>
                    <option value="Household">Household</option>
                    <option value="Electricity">Electricity</option>
                    <option value="Food">Food</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group add-div">
                <input type="hidden" id="hidden" value="">
                <button type="button" class="btn-primary" id="button">Add Expense</button>
            </div>
          </form>
    </div>

    <div class="list-header">
      <h1>Total Expenses Amount : Rs.<span id="total-expense">0</span></h1>
    </div>

    <div class="settings-container">
      <div class="format-selector-div" >
        <button id="selectorbtn" class="selector-btn">Show Items Based On</button>
        <select id="expenseformat" name="expenseformat" class="format-selector">
          <option value="day">Day</option>
          <option value="week">Week</option>
          <option value="month">Month</option>
          <option value="year">Year</option>
        </select>
      </div>
      <div class="count-div">
        <button id="countbtn" class="count-btn">Set Items Count</button>
        <select id="count" name="count" class="count">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>

      <div id="list-div" class="list-div">

      </div>

      <div class="pagination-div">
      </div>

      <div class="download-div"><button id="downloadexpenses" class="downloadexpenses" disabled>Download Expenses <i class="fa fa-download" aria-hidden="true"></i></button></div>

      <div id="list-urls-div" class="list-urls-div">
        <div class="list-urls-header">
          <h1>Previous Downloads</h1>
        </div>
      </div>

            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src=".static/js/index.js"></script>
    </body>
</html>