@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');



/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 14px;
    background-size: 200% 100% !important;
    -webkit-animation: move 10s ease infinite;
            animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh;
  }
  
  .user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
  }
  
  .user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    -webkit-animation: arrive 500ms ease-in-out 0.7s forwards;
            animation: arrive 500ms ease-in-out 0.7s forwards;
  }
  
  .user__title {
    font-size: 24px;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
  }
  
  .form {
    display: block;
    margin-top: 40px;
    border-radius: 6px;
    width: 400px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    -webkit-animation: arrive 500ms ease-in-out 0.9s forwards;
            animation: arrive 500ms ease-in-out 0.9s forwards;
  }
  
  .form--no {
    -webkit-animation: NO 1s ease-in-out;
            animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  .form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: "Roboto";
    font-size: large;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
  }
  .form__input:focus {
    background: #f7f7f7;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: "Roboto";
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    font-size: larger;
    background: #ABA194;
    transition: 0.3s;
  }
  .btn:hover {
    background: #a09486;
  }
  
  @-webkit-keyframes NO {
    from, to {
      transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  
  @keyframes NO {
    from, to {
      transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  @-webkit-keyframes arrive {
    0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes arrive {
    0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes move {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  } */


  * {
    margin: auto;
    padding: auto;
  }

  body {
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpaperaccess.com/full/47133.jpg);
    background-color: rgba(80, 150, 255, 0.658);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
  }

  .header h1 {
    font-family: 'Bungee', cursive;
    color: rgb(255, 255, 255);
    padding: 15px;
    background-color: rgba(2, 2, 2, 0.699);
    border-radius: 6px;
  }

  .small-text {
    font-weight: 900;
    font-family:'Courier New', Courier, monospace;
    color: aliceblue;
  }

  .form-div {
    display: flex;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.747);
  }

  .form-group {
    padding: 5px;
    margin: 5px;
  }

  label {
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: larger;
    color: aliceblue;
  }

  .form-group input {
    font-size: large;
    border: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: aliceblue;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
  }

  .btn-primary {
    width: 300px;
    margin-left: 45px;
    margin-top: 35px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
  }

  .btn-primary:hover {
    background-color: blue;
  }

  .login-div {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-div-items {
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    color: aliceblue;
  }

  .btn-secondary {
    width: 100px;
    background-color:rgb(136, 40, 40);
  }

  .btn-secondary:hover {
    background-color: red;
}